# Express Gateway Backend URL
REACT_APP_BACKEND_URL=http://localhost:5000

# Web3Forms API Key for Contact / Feedback
REACT_APP_WEB3FORMS_KEY=your_web3forms_access_key

# React Build & Dev Performance Settings
DISABLE_ESLINT_PLUGIN=true
ESLINT_NO_DEV_ERRORS=true
FAST_REFRESH=true
GENERATE_SOURCEMAP=false
